<div ng-controller="FeaturesConfigurationCtrl">
	<fieldset>
		<legend>Configuration</legend>
		<tabset>
			<tab heading="Git">
				<h3>Git repositories</h3>
				<p>You can manager your external git repositories over here. For anonymous checkout, please use the https URL.</p>
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Repository</th>
						<th>Username</th>
						<th>Actions</th>
					</tr>
					<tr>
						<td>{{internal._id}}</td>
						<td>{{internal.path}}</td>
						<td>{{internal.user}}</td>
						<td>
							<a class="btn btn-success" ng-click="downloadRepo(internal)"><i class="fa fa-cloud-download"></i></i></a>
							<a class="btn btn-danger" ng-click="uploadRepo(internal)"><i class="fa fa-cloud-upload"></i></i></a>
						</td>
					<tr ng-show="repos.length > 0">
						<th colspan="4">External repositories</th>
					</tr>
					<tr ng-repeat="repo in repos">
						<td>{{repo._id}}</td>
						<td>{{repo.path}}</td>
						<td>{{repo.user}}</td>
						<td>
							<a class="btn btn-success" ng-click="downloadRepo(repo)"><i class="fa fa-cloud-download"></i></i></a>
							<a class="btn btn-danger" ng-click="deleteRepo(repo)"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
				</table>
				<fieldset>
					<legend>Actions</legend>
					<div class="pull-right">
						<button class="btn btn-success" ng-click="showAddRepo = !showAddRepo" ng-show="!showAddRepo">Add external repository</button>
						<button class="btn btn-warning" ng-click="showInternalRepo = !showInternalRepo" ng-show="!showInternalRepo">Edit internal repository</button>
					</div>
				</fieldset>
				<fieldset ng-show="showInternalRepo">
					<legend>Internal repository</legend>
					<div class="input-group">
						<span class="input-group-addon">Repository path</span>
						<input type="text" class="form-control" ng-model="internal.path" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Username</span>
						<input type="text" class="form-control" ng-model="internal.user" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Password</span>
						<input type="password" class="form-control" ng-model="internal.password" />
					</div>
					<div class="pull-right">
						<button class="btn btn-success" ng-click="save(internal); showInternalRepo = !showInternalRepo">Save</button>
						<button class="btn btn-warning" ng-click="showInternalRepo = !showInternalRepo">Cancel</button>
					</div>
				</fieldset>
				<fieldset ng-show="showAddRepo">
					<legend>Add external repository</legend>
					<div class="input-group">
						<span class="input-group-addon">Repository path</span>
						<input type="text" class="form-control" ng-model="newPath" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Username</span>
						<input type="text" class="form-control" ng-model="newUser" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">Password</span>
						<input type="password" class="form-control" ng-model="newPassword" />
					</div>
					<button class="btn btn-success pull-right" ng-click="addRepo(newPath,newUser,newPassword); showAddRepo = !showAddRepo">Add</button>
				</fieldset>
			</tab>
		</tabset>
	</fieldset>
	<hr />
</div>
