<h1 class="page-header">Features configuration</h1>
<tabset>
	<tab heading="Git">
		<h3>Git repositories</h3>
		<p>You can manager your external git repositories over here. For anonymous checkout, please use the https URL.</p>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Repository</th>
				<th>Username</th>
				<th>Actions</th>
			</tr>
      <tr>
        <th colspan="3">Private repositories</th>
        <th>
          <a class="btn btn-success" ng-click="add('featuresrepo_private', privaterepos)"><i class="fa fa-plus"></i> Add</a>
        </th>
      </tr>
			<tr ng-repeat="repo in privaterepos">
				<td>{{repo._id}}</td>
				<td>{{repo.path}}</td>
				<td>{{repo.user}}</td>
				<td>
          <a class="btn btn-success" ng-click="download(repo)" title="Download repository"><i class="fa fa-cloud-download"></i></i></a>
          <a class="btn btn-warning" ng-click="upload(repo)" title="Upload repository"><i class="fa fa-cloud-upload"></i></i></a>
          <a class="btn btn-warning" ng-click="edit(repo)" title="Edit repository"><i class="fa fa-cog"></i></i></a>
          <a class="btn btn-danger" ng-click="delete(repo, privaterepos, $index)" title="Delete repository"><i class="fa fa-trash-o"></i></a>
				</td>
			<tr>
				<th colspan="3">Public repositories</th>
        <th>
          <a class="btn btn-success" ng-click="add('featuresrepo_public', publicrepos)"><i class="fa fa-plus"></i> Add</a>
        </th>
			</tr>
			<tr ng-repeat="repo in publicrepos">
				<td>{{repo._id}}</td>
				<td>{{repo.path}}</td>
				<td>{{repo.user}}</td>
				<td>
          <a class="btn btn-success" ng-click="download(repo)" title="Download repository"><i class="fa fa-cloud-download"></i></i></a>
          <a class="btn btn-warning" ng-click="edit(repo)" title="Edit repository"><i class="fa fa-cog"></i></i></a>
					<a class="btn btn-danger" ng-click="delete(repo, publicrepos, $index)" title="Delete repository"><i class="fa fa-trash-o"></i></a>
				</td>
			</tr>
		</table>
    <fieldset>
      <legend ng-click="showHelp = !showHelp">Help (toggle)</legend>
      <div ng-show="showHelp">
        <dl>
          <dt>Private repository</dt>
          <dd>A private repository is editable on your current website. This means you can edit your features and upload them.</dd>
          <dt>Public repository</dt>
          <dd>A public repository is read only, your features can only be edited only and you can only use the features.</dd>
        </dl>
      </div>
    </fieldset>
  </tab>
</tabset>